h1, h2, h3 {
 color: $mag-blue;
 font-weight: 700 !important;
}

p {
  color: $mag-grey;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #fcfcfcff !important;
}

.page-content {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 200px;
}

.body-content {
  display: flex;
}

@media (max-width: 400px) {
  .body-content {
    display: block;
  }
}
