h1, h2, h3 {
 color: $mag-blue;
 font-weight: 700 !important;
}

p {
  color: $mag-grey;
  font-weight: 400;
}

p a {
  color: $mag-blue;
  transition: all 0.5s ease-out;
}

p a:hover {
  text-decoration: none;
  color: $mag-green;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

body {
  background-color: #fcfcfcff !important;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.page-content {
  margin-top: 55px;
  margin-left: 100px;
  margin-right: 400px;

  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 400px) {
  .page-content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.body-content {
  display: flex;
}

@media (max-width: 400px) {
  .body-content {
    display: block;
  }
}

