<div class="footer">
  <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> by Leni
  </div>
  <div class="footer-links">
    <a href="https://github.com/magwyz"><i class="fab fa-github" target="_blank" rel="noopener noreferrer"></i></a>
    <a href="https://www.linkedin.com/in/adrien-maglo-0590a050/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
