.btn-mag {
  color: white;
  font-weight: lighter;
  padding: 4px 22px;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px 0px rgba(73, 160, 120, 0.75);
  text-align: center;
  white-space: nowrap;
  border: none;

}

.btn-green {
  background-color: $mag-green;
  transition: all 0.5s ease-out;
}

.btn-mag:hover {
  background-color: $darker-mag-green;
  text-decoration: none;
  color: white;
}

.btn-contact-box {
  padding-top: 40px;
  width: 200px;
  a {
    font-weight: lighter
  }
}

.btn-mag:focus {
  outline: none;
}

@media (max-width: 400px) {
  .btn-contact-box {
    justify-content: start;
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

